<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="crossBrowserTestSuite">

	<test name="chromeTest">

		<parameter name="browser" value="Chrome"></parameter>
		<classes>
			<class name="testRunner.TestNGTestRunner" />
		</classes>
	</test>
	<test name="EdgeTest">
		<parameter name="browser" value="edge"></parameter>
		<classes>
			<class name="testRunner.TestNGTestRunner" />
		</classes>
	</test>

</suite>